.popup__submit {
    width: 238px;
    height: 46px;
    background-color: #000000;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 22px;
    border-radius: 2px;
    transition: .3s;
    cursor: pointer;
}

.popup__submit:hover {
    opacity: 0.8;
}

@media all and (min-width: 1279px) {
    .popup__submit {
        width: 358px;
        height: 50px;
        bottom: 37px;
        left: 36px;
        font-size: 18px;
    }
}